body{
    background-color: blueviolet;
}
p{
    font-weight: inherit;
    font-size: x-small;
    font-size: small;
    color:rgb(33, 207, 85);
}
div{
    font-weight: bold;
}
.p1{
    font-variant: small-caps;
}